body {
	padding: 0;
	margin: 10;
	page: center;
}
h1 {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
	height: 200px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	padding-top: 50px;
	padding-bottom: 0px;
	width: 100%;
}
h1, h2, h3, p {
	font-family: Helvetica;
}
#brush, #frame, #paint {
	color: white;
	font-size: 32px;
	font-weight: bold;
}
#brush {
	background-color: mediumspringgreen;
}
#frame {
	background-color: lightcoral;
}
#paint {
	background-color: skyblue;
}
.price {
	color: blue;
	font-weight: bold;
}